/* Custom Fonts */
@font-face {
  font-family: "ABCDiatype-Regular";
  src: url("/fonts/ABCDiatype-Regular.woff2") format("woff2"),
    url("/fonts/ABCDiatype-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono-Regular";
  src: url("/fonts/ABCDiatypeMono-Regular.woff2") format("woff2"),
    url("/fonts/ABCDiatypeMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
